<div class="jumbotron mt-4 justify-content-center">
    <h1 class="display-4"> Editar Producto</h1>
    <form action="/api/productos/{{producto.id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" value="{{producto.title}}" required>
            <div id="titleHelp" class="form-text text-danger">Campo obligatorio.</div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price"  name="price" aria-describedby="precioHelp" value="{{producto.price}}" required>
            <div id="precioHelp" class="form-text text-danger">Campo obligatorio.</div>
        </div>
        <div class="mb-3">
            <label for="logo" class="form-label">Logo</label>
            <input type="text" class="form-control" id="logo" name="logo" aria-describedby="logoHelp" value="{{producto.logo}}" required>
            <div id="logoHelp" class="form-text text-danger">Campo obligatorio.</div>
        </div>
        <div class=" d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Editar Producto</button>
        </div>
    </form>
</div>